@charset "utf-8";

body{
    background-color: rgb(47, 46, 46);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-flow: column wrap-reverse;
}

#container{
    width: 500px;
    height: 500px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}
.vermelho{
    background-color: red;
    width: 50px;
    height: 50px;
    order: -1;
}
.azul{
    background-color: blue;
    width: 50px;
    height: 50px;
}
.amarelo{
    background-color: yellow;
    width: 50px;
    height: 50px;
}
